.test {
  height: 100vh;
}

.test_modal {
  height: 75vh;
}

.loop_main {
  height: 41vh;
}

.loop {
  height: 70vh;
  max-height: 80vh;
}

@media (max-height: 780px) {
  .test_modal {
    height: 25rem;
  }

  .loop {
    height: 23rem;
    max-height: 25rem;
  }
}
